.ProjectCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25rem;
    box-sizing: border-box;
    padding: 0 4rem 0 0;
    box-sizing: border-box;
    position: relative;
}

.projectCard__allTexts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 5rem;
    box-sizing: border-box;
}

.ProjectCard__line {
    width: 10rem;
    height: 2px;
    background-color: var(--color-primary);
    opacity: 20%;
    margin: 0 5rem 0 0;
}

.ProjectCard__number {
    font-family: var(--font-visualLighter);
    font-size: 1.5em;
    font-weight: bold;
    opacity: 50%;
}

.ProjectCard__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
}

.ProjectCard__data h2 {
    font-size: 3rem;
    font-family: var(--font-visual);
    color: var(--color-primary);
    font-weight: bold;
    opacity: 50%;
}

.ProjectCard__data h3 {
    font-size: 2rem;
    font-family: var(--font-visualLighter);
    color: var(--color-primary);
    font-weight: bold;
    opacity: 50%;
    text-align: start;
    width: 100%;
    padding: 0 0 0 2rem;
}

.projectCard__img {
    width: 35rem;
    height: 24rem;
    position: absolute;
    top: 10%;
    right: 0%;
    margin: 0 2rem;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(-3deg);
    margin: 1rem 0;
    box-shadow: -50px 10px 0px #D1E5FD;
    background-color: transparent;
    object-fit: cover;
}

.ProjectCard__button {
    background-color: var(--color-terciary);
    border-radius: 100px;
    padding: 0.5rem 2rem;
    z-index: 1;
}

.ProjectCard__button .btn__circle {
    display: none;
}

@media screen and (max-width: 1024px) {
    .projectCard__img {
        width: 25rem;
        height: 20rem;
    }
}

@media screen and (max-width: 768px) {

    .projectCard__img {
        width: 20rem;
        height: 15rem;
        opacity: 70%;
    }

    .ProjectCard {
        justify-content: start;
    }

    .projectCard__allTexts {
        gap: 0 1rem;
    }

    .ProjectCard__line {
        display: none;
    }

    .projectCard__img {
        z-index: 0;
    }

    .ProjectCard__data {
        z-index: 1;
    }

    .ProjectCard__data h1 {
        font-size: 2rem;
    }

    .ProjectCard__data h2 {
        font-size: 2rem;
    }

    .ProjectCard__button {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 0 1rem 1rem;
    }

    .ProjectCard__button .btn__div {
        width: 10rem;
    }

    .ProjectCard__button .btn__div a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {


    .projectCard__img {
        width: 15rem;
        height: 10rem;
    }

    .ProjectCard__data h1 {
        opacity: 1;
    }

    .ProjectCard__data h2 {
        opacity: 1;
    }

    .projectCard__img{
        top: 40%;
    }

}