.Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #141414;
    text-align: center;
    padding: 5rem 0;
    box-sizing: border-box;
    background-image: url(./assets/orbit-.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Footer h1,
.Footer h2,
.Footer h3 {
    color: var(--color-terciary);
    font-family: var(--font-visual);
}

.Footer h1 {
    font-size: 5rem;
}

.footer__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
}

.social__links:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.social__links_img {
    width: 2rem;
    height: 2rem;
}

.link__div_sayHello {
    position: relative;
    margin: 5rem 0 0 0;
}

.link___sayHello {
    text-decoration: none;
    color: var(--color-secundary);
    font-family: var(--font-visual);
    font-size: 2rem;
    transition: 0.2s;
}

.link___sayHello:hover {
    color: red;
}

.circlesayHello {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: var(--color-secundary);
    opacity: 20%;
    position: absolute;
    top: -70%;
    left: -20%;
}

.footer__texts .Btn {
    color: var(--color-secundary);
}

.footer__texts .Btn:hover {
    color: red;
}

@media screen and (max-width: 768px) {

    .footer__texts h1 {
        font-size: 3rem;
    }

    .footer__texts h2 {
        font-size: 1.5rem;
    }


}

@media screen and (max-width: 375px) {

    .footer__socials {
        gap: 0 1rem;
    }

}