.Works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

@media screen and (max-width: 768px) {

    .Works{
        justify-content: start;
    }

}